@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  padding: 0;
  margin: 0;
  align-items: center;
}

body {
  background-color: #2e325f
}

h1 {
  font-family: 'Akronim', cursive;
  text-align: center;
  color: #3644db;
}

p {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  color: #26538f;
}

.bot-description {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: bold;
  font-size: large;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #1423A2;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  -webkit-transform: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  cursor: not-allowed;
}

.bot-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 128px;
  height: 128px;
  border: 4px solid #212b9e;
  border-radius: 50%;
  -webkit-transform: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

a {
  font-family: "Varela Round", sans-serif;
  margin: 2px;
}

.bot-icon:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  cursor: not-allowed;
}

.links {
  font-family: "Akronim", cursive;
}

.navigation {
  background-color: #1420a862;
}

.page-link {
  color: #193f77;
  text-align: center;
}

.staff-member-buttons {
  text-align: center;
}

.bot-name {
  text-align: center;
}

.staff-member-name {
  text-align: center;
  font-family: "Bakbak One", cursive;
}

.staff-member-description {
  text-align: center;
  color: #1a55ad;
}

footer {
  background-color: #141f9162;
  height: fit-content;
  max-height: fit-content;
}

.btn {
  background-color: #2e325f;
  color: #2c368d;
  font-size: 15px;
  transition-duration: 0.5s;
  padding: 5px;
  border: 2px solid #3045fd;
  border-radius: 8px;
  font-family: "Bakbak One", cursive;
}

.btn:hover {
  border: 2px solid #1123c2;
  background-color: #2c368d;
  color: white;
  cursor: pointer;
}

.bot-buttons {
  text-align: center;
}

p.copyright-info, a.copyright-license-link {
  font-family: "Anton", sans-serif;
}

a.copyright-license-link {
  color: #4923b3;
}

img.staff-member-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 128px;
  height: 128px;
  border: 4px solid #136cbe;
  border-radius: 50%;
}

/* This is the stylesheet */